# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. python
1. java
1. R
1. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
1. Keras
1. Pytorch
1. NumPy

|Data| Science| Tools|
|------------------|-------------|-----|
|jupyter nootebook|Rstudio|VSCode|

Objectives: the covered objetives where
- some languaje
    * python
- Tables
    - like the one above
- mathematics
    - Arithmetic

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [10]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [11]:
200//60

3

## Author
Luciano Soliz